#root {
  max-width: 1280px;
  width: 100%;
  padding: 2rem;
  background-color: var(--background-color);
}

/*Styles for refresh-button, share-button*/
.action-buttons{
  display: flex;
  gap: 10px;
}

.action-buttons button{
  margin: 10px 0 0;
  height: 38px;
  padding: 0 1rem;
  border: 1px solid #ccc;
  background-color: var(--refresh-button-color);
  cursor: pointer;
  color: var(--font-color);
  border-radius: 4px;
  max-width: 150px;
  max-height: 50px;
  text-align: center;
}

#share-button{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.subject-selection-controls button:hover {
  border-color: #aaa;
}

.time-table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
  margin: 1rem 0;
}

.time-table th {
  background-color: var(--table-header-color);
  border: 1px solid var(--border-color);
  padding: 0.5rem;
}

.time-table td {
  border: 1px solid var(--border-color);
  padding: 0.5rem;
  cursor: default;
  position: relative;
}

.time-table td:hover {
  background-color: var(--table-td-hover-color);
}

.time-table td[data-hover]::after {
  width: 200px;
  content: attr(data-hover);
  display: none;
  position: absolute;
  background-color: var(--table-subject-box-bg-color);
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  z-index: 1;
}

.time-table td:hover::after {
  display: block;
}

.tutorial {
  background-color: var(--table-subject-box-bg-color);
  padding: 20px;
  border-radius: 4px;
}

.time-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subject-color-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  place-content: center;
  grid-gap: 1rem;
  margin: 1rem 0;
}

.subject-block {
  display: block;
  position: relative;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  font-size: small;
}

.subject-block div {
  position: absolute;
  background: rgba(0,0,0,0.3);
  top: 0;
  right: 0;
  padding: 5px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
}

.subject-checkbox h3 {
  position: relative;
  padding-left: 35px;
}
.subject-checkbox h3::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--data-pre-color);
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: -35px;
  border-radius: 4px;
}

.blocked-time-slot {
  background-color: var(--blocked-slot-bg-color);
  color: red;
}
#custom-check-box-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

/* customize the react-select box it has 'select_subjects' as it's prefix */

.select_subjects__control {
  background-color: var(--search-box-bg) !important;
  color: var(--search-box-font-color) !important;
}

.select_subjects__control input{
  color: var(--search-box-font-color)  !important;
}

.select_subjects__multi-value {
  background-color: var(--search-box-chip-bg) !important;
}

.select_subjects__multi-value__label {
  color: var(--search-box-font-color) !important;
}

.select_subjects__menu {
  background-color: var(--search-box-menu-item-bg) !important;
  color: var(--search-box-font-color) !important;
}

.select_subjects__option {
  border-bottom: 1px dotted grey;
}

.select_subjects__option--is-focused {
  background-color: var(--search-box-menu-item-hover-bg) !important;
}

.select-unselect-div {
  padding: 1rem 0;
}

.spacer {
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  .subject-checkbox > div {
    margin-left: 1rem;
  }
}

.error-message{
  display: flex;
  /* flex-direction: column; */
  gap: .5rem;
  align-items: center;
  justify-content: center;
  background-color: red;
  border-radius: .3rem;
  width: 100%;
  margin-top: 1rem;
}

.error-message > i{
  font-size: 2rem; /* To center the icon don't know why this works */
}

@media screen and (min-width: 768px) {
  .error-message{
    margin: 0;
    width: 50%;
  } 
}

.error-message h2{
  color: white;
  font-size: medium;
}

.min-w{
  min-width: 100px;
}

