#root {
  max-width: 1280px;
  width: 100%;
  padding: 2rem;
}

.subject-selection-controls {
  margin: 1rem 0;
}

.subject-selection-controls button {
  margin: 0 0.5rem;
  height: 38px;
  padding: 0 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.subject-selection-controls button:hover {
  border-color: #aaa;
}

.time-table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
  margin: 1rem 0;
}

.time-table th {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.5rem;
}

.time-table td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  cursor: default;
  position: relative;
}

.time-table td:hover {
  background-color: #eee;
}

.time-table td[data-hover]::after {
  width: 200px;
  content: attr(data-hover);
  display: none;
  position: absolute;
  background-color: #eee;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1;
}

.time-table td:hover::after {
  display: block;
}

.tutorial {
  background-color: #eee;
  padding: 20px;
  border-radius: 4px;
  /* display: grid;
  place-content: center; */
}

.time-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subject-color-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  place-content: center;
  grid-gap: 1rem;
  margin: 1rem 0;
}

.subject-block {
  display: block;
  position: relative;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: small;
}

.subject-block div {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  background: none;
  top: 0;
  right: 0;
  margin-right: 0.2rem;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
}

.subject-checkbox h3 {
  position: relative;
  padding-left: 35px;
}
.subject-checkbox h3::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--data-pre-color);
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: -35px;
  border-radius: 4px;
}

.blocked-time-slot{
  background-color: #ccc;
  color: red;
}